<article class="detail-article">
  <h1 class="article-detail-title"><%= @article.title %></h1>

  <!-- glyphicon shows a calendar icon. This div will show the date. -->
  <div class="glyphicon glyphicon-calendar" id="article-date">
    <%= @article.created_at.strftime("%b %d, %Y") %>
  </div>

  <div class="article-body">
    <%= @article.body %>
  </div>
  <!-- If user is signed in and is the owner of that article, edit and delete will show. If not, edit and delete will not show.  -->
  <% if user_signed_in? && current_user == @article.user %>
    <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-primary btn-lg btn-space" %>
    <%= link_to "Delete Article", article_path(@article), method: :delete, 
                  data: { confirm: "Are you sure?" }, 
                  class: "btn btn-danger btn-lg btn-space" %>
  <% end %>
</article>